#image {
  width: 64%;
  float: left;
}

#info {
  width: 30%;
  float: right;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

img {
  width: 400px;
  height: "auto";
}

.review {
  color: black;
  margin-top: 26px;
  font-family: Philosopher;
  transition: 0.8s;
  border-radius: 30px;
}

.review:hover {
  background-color: #484848;  
  color: white;
  transition-duration: 0.8s;
}
